.progress__fill.progress--28 { width: 28%; }
.progress__fill.progress--32 { width: 32%; }
.progress__fill.progress--46 { width: 46%; }
.progress__fill.progress--52 { width: 52%; }
.progress__fill.progress--58 { width: 58%; }
.progress__fill.progress--64 { width: 64%; }
.progress__fill.progress--72 { width: 72%; }
.progress__fill.progress--76 { width: 76%; }
